{% load allauth %}

{% element input name=name type=type label=label placeholder=placeholder id=id autocomplete=autocomplete autofocus=autofocus disabled=disabled inputmode=inputmode maxlength=maxlength minlength=minlength pattern=pattern readonly=readonly required=required size=size value=value %}
{% endelement %}

{% if help_text %}
    {% element help_text %}
        {{ help_text }}
    {% endelement %}
{% endif %}

{% if errors %}
    {% element errors %}
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    {% endelement %}
{% endif %}