{% extends "base.html" %}
{% load static %}

{% block content %}
<h1> ¿Cómo funciona? </h1>

<h1> Estudiantes </h1>
<h2> Prueba de diagnostico de diagnóstico </h2>
<p> La prueba de diagnóstico evalúa tus conocimientos actuales y se va adaptando a tu nivel a medida que desarrollas esta prueba. Basándonos en tus resultados, te proporcionamos un set de ejercicios personalizados a tu nivel para maximizar tu aprendizaje.</p>
<p> Termina si </p>
<ul>
    <li> Pasas 1 hora resolviendo ejercicios. </li>
    <li> Desarrollaste 30 ejercicios. </li>
    <li> Ya se consideró un nivel apropiado para tu caso. </li>
</ul>
<h2> Ejercicio Normal </h2>
<p> Los ejercicios normales están diseñados para reforzar y expandir tus conocimientos. Cada ejercicio incluye una serie de pasos que debes seguir para llegar a la solución correcta. Cuando termines, recibirás retroalimentación inmediata para ayudarte a mejorar.</p>
<h2> Ejercicio Grupal </h2>
<p class="contenido"> Los ejercicios grupales fomentan la colaboración entre estudiantes. Trabajarás junto a tus compañeros para resolver problemas complejos, compartiendo ideas y estrategias. Al final del ejercicio, recibirás feedback tanto individual como grupal para mejorar tu desempeño colectivo e individual.</p>

<hr role="separator" aria-hidden="true" style="border:0;border-top:1px solid #ddd;margin:2.5rem 0;">

<h1> Docentes </h1>
<h2> Plataforma de gestión educativa </h2>
<p> Nuestra plataforma ofrece a los docentes herramientas avanzadas para gestionar y supervisar el progreso de sus estudiantes. Podrás asignar ejercicios, monitorear resultados y proporcionar feedback personalizado para cada estudiante o grupo.</p>
<h2> Creación de ejercicios </h2>
<p> Los docentes pueden crear ejercicios personalizados adaptados a las necesidades de sus estudiantes. Una vez creados, los ejercicios pueden ser asignados a individuos o grupos, facilitando una enseñanza más dirigida y efectiva.</p>
{% endblock%}
