
.container {

    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
}
h1 {
    font-size: 3.5em;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
p {
    line-height: 1.6;
}