@import "tailwindcss";

/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Escanea todos los templates de Django */
@source "../../../templates/**/*.html";
@source "../../../**/templates/**/*.html";
@source "../../../**/*.py";
@source "../../../static/**/*.js";
