{% extends "base.html" %}
{% load static %}

{% block content %}
<ul style="list-style: none; display: flex; gap: 30px; margin: 0; padding: 0;">
    
            <div class="diagnostic-completed">
                <div class="buttons-modules">
                    <li><a style="color: white; text-decoration: none;" href="{% url 'ejercicio' %}">Ejercicio</a></li>
                    <li><a style="color: white; text-decoration: none;" href="{% url 'matchmakingGroup' %}">Buscar grupo</a></li>
                    {% comment %} <li><a style="color: white; text-decoration: none;" href="{% url 'continuarEjercioGrupal' %}">Continuar ejercicio grupal</a></li> {% endcomment %}
                    <h2>Tus ultimos ejercicios </h2>
                    {% for ejercicio in ultimos%}
                    
                    {% endfor %}
                </div>
            <div>
    
</ul>

{% endblock %}